
*{
    box-sizing: border-box;
   
    
}


.link{
    background-color:white;
    width: 100%;
    height:10px;
   font-size: 15px;
    color: black;
    padding: 5px;
}
.link h3{
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    
}
.link h4{
    font-size: 13px;
}
/*home nav tag*/
.nav-top{
    float: left;
    margin-top: 5px;
    text-align: center;
    padding: 2px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 90px;
    height: 35px;
    border: 1px solid white;
    background-color:rgb(241, 225, 228);
    border-radius: 50%;
}


.nav-top:hover{
    background-color:black;
    color:white;
    opacity: 0.8;
}
/*home nav search top*/
.home-search{
    float: right;
}
.login{
    position: relative;
}

.log-user {
    text-align: right;
    float: right;
    padding-right: 50px;
    display: block;
}
/* Shopping Cart*/

.cartItems{
    list-style: none;
    display: block;
    position: relative;
    z-index: 2;
    left: 200;
    top: 200;
}
.cartItems img{
    width: 50px;
    float: left;
}
.ShoppingCart {
    display: block;
    float: right;
    width: 250px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.ShoppingCart h3 {
    font-size: 40px;
}

.ShoppingCart .cartItems{
    display: absolute;
}

/* Login form */
.form{
   
    float: right;
    font-size: 12px;
    margin: 10px;
    padding: 10;
    margin-bottom: 10px;
    display:flex;
    
}
.form h4{
    margin-left: 1px;
    padding:5px;
    text-decoration:overline;
    display: inline-block;
    font-size: 14px;
}

.form label{
    display: inline;
    padding: 5px;
    margin: 5px;
   
}
.form input{
    
    margin:2px;
    width: 180px;

}

.form button{
    text-align: center;
    width: 70px;
    padding: 1px;
    margin: 6px;
    background-color: #f1f1f1;
    color:black;
}
/*search bar*/
.search{
    float:left;
    margin: 0;
    padding-left: 10px;
    display:inline;  
}

.search input{
    display: inline;
    
    padding: 10px;
    margin-left: 0; 
}
.search label{
    display: inline;
    margin-left: 2px;
    padding: 5px;
}

.search button {

    float: right;
    margin-right: 5px;
    margin-left: 10px;
    width: 35px;
    padding: 2px;
    background: #f1f1f1;;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

.search ul {
    list-style: none;
    position: absolute;
    z-index: 1000; 
    background-color: white;
}

/* home page clothing navbar*/
.register{
    
    margin-top: 300px;
    float: right;
    margin-right: 0;
     
}
.nav{

    position: relative;
    display: inline-block;
    width: 100%;
    height: 60px;
    background-color: black;
    text-decoration: none;
    list-style: none;
    padding:10px;
    overflow: hidden;

}
 .nav-tabs{
     color: white;
    text-decoration: none;
    padding: 20px;
}

.tab-register{
    position: relative;
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 10px;
   
}
.tab-register:hover {
    color: gray;
   
}
.nav-tabs:hover {
    color: gray;
   
}

.photo-logo{
    border: 1px solid white;
    width: 100%;
    height:600px;
    object-fit: contain;
    margin-bottom: 50px;

  
}

.photo-logo2{
    border: 1px solid rgb(241, 225, 228);
    width: 100%;
    height:350px;
    margin-top: 0;
    object-fit: contain;
    margin-bottom: 50px;
    object-fit: contain;
}

.home-title{
    margin-left: 50px;
    font-weight: 600;
}
.products{
    position: relative;
    color: black;
    display: inline-block;
    text-emphasis: none;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 20px;
}
.products img{
    margin-top: 5px;
    margin-left: 50px;
    width:160px;
    height: auto;
    object-fit: contain;
}
.products p{
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 20px;
    width:200px;
   overflow: hidden;
   text-align: center;

   
}

.products a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.price{
    margin-left: 70%;
    padding: 20px;
}
.productList {
    
    margin-top:20px;
    float: left;
    width: 250px;
    height: 350px;
    overflow: hidden;
    background-color: #fcefe8 ;

}

.product h2{
    margin-top: 20px;
    font-size: 25px;
}
.items{
    
/*margin-top: 20px;*/
  text-decoration: none;
    text-emphasis: none;
    color: black;
}

/*log out button*/

.logout{

    position: relative;

}
/* shopping cart styles*/

.empty{

   display: block;
   padding: 1px;
 
    
}
.empty h3{ 
    text-align: center;
    float: right;
    margin-left: 300px;
    margin-right: 5px;
    width: 250px;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid black;
    background-color:rgb(241, 225, 228);
    color: black;
   

}
.empty h4{
    text-align: center;
 
    font-size: 14px;
    float: right;
   margin-left: 700px;
   margin-right: 100px;
 
}




.shopCard{
    background-color: rgb(241, 225, 228,  0.9);
    position: absolute;
    float: right;
    width: 500px;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    display: none;
    z-index: 1;
    margin-left: 64%;
    margin-top: 5%;
    
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.shopCard-head h3{
    float: right;
    margin-left: 200px;
    margin-right: 10px;
    width: 250px;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid black;
    background-color:rgb(241, 225, 228);
    color: black;
    text-align: center;
}

.shopCard img{
    display: relative;
    margin-left: 10px;
}

.shopCard p{
    display: inline-block;
    font-size: 14px;
    margin-left: 100px;
    position: absolute;
}

.shopCard-head h3:hover{
    background-color: #f2c6ce;
    cursor: pointer;
    font-family: Arial;
}

.quant{
    font-weight: 700;
    margin-left: 120px;
    margin-top: 100px;
}

.items {
    display: block;
    width: 700px;
    margin-top: 50px;
}

.close{
    float: right;
    background-color: white;
    margin: 10px;
}

.checkout-button{
    display: relative;
    display: block;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
    background-color: white;
    color: black;
    
}
/*single page products styles*/
.productDetails {
    overflow: hidden;
    position: relative;
    display: block;
    margin-left:50px;
    width: 90%;
    height: auto;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    
}
.productDetails h1{
    text-decoration: overline;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}

.productDetails p{
    font-size: 18px;
    font-weight: 200;
    margin-left:350px;
}
.productImage{
    border: 1px solid gray;
    margin-left:350px;
    width: 400px;
    height: auto;
    object-fit: cover;

}

.card-button{
    overflow: hidden;
    display: block;
    margin-left: 50%;
    margin-bottom: 80px;
    background-color: #f1f1f1;
    color: black;
    
}
/* register page */

.reg-box{
    position: relative;
    margin-top: 20px;
    width: 100%;
    border: 2px solid black;
    object-fit: contain;
    height: 200px;
}
.reg-page{
    margin: 0;
    background-color: rgb(252, 249, 249);
}
.row h2{
    
    margin-top: 50px;
    font-size: 30px;
}
.reg-form{
    background-color: white;
    position: relative;
   border: 1px solid black;
   margin-left: 100px;
   margin-bottom: 100px;
   padding: 15px;
   widows: 800px;;
}
.reg-form label{
    float: left;
    margin-left: 5px;
    overflow: hidden;
}

.reg-form input[type=text], input[type=password]{
  
    display: inline-block;
    background-color: #f1f1f1;
    color: black;
    width: 100%;
    padding: 5px;
}
.reg-form input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
.reg-form button{
    background-color: black;
    color:white;
}
.reg-form button:hover{
    opacity: 2;
}
/**/

 /*footer for all pages*/
  
.footer {
    width: 100%;
    margin: 0;
    background-color: rgb(241, 225, 228);
    border: 1px solid black;
    padding-top: 30px;
    padding-bottom: 100px;
    font-size: 15px;
    overflow: hidden;
  }
  
.footer a:link,
.footer a:visited,
.footer a:hover,
.footer a:active {
    color: black;
  }
  
  .pagesFooter {
    position: relative;
    width: 100%;
    height: 50px;
    margin: auto;
  }
  .web-name {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
  }
  .web-name h2 {
    position: relative;
    display: block;
    text-decoration: underline;
    font-size: 40px;
    color:black;
    margin-left: 50px;
    top: 20px;
  }
  
  .footerLinks {
    position: absolute;
    left: 80%;
    top: 0;
    color: black;
  }

  .footerLinks h4{
      font-weight: 600;
      font-size: 18px;
      color: black;
  }
  .footerLinks ul {
      color: black;
      text-decoration: none;
    list-style-type: none;
  }
  .footerLinks li a{
    color: black;
    text-decoration: none;
    list-style-type: none;
    margin-top: 10px;
    margin-left: 5px;
  }
  
  .copyright {
    
    position: absolute;
    text-align: center;
    margin-top:110px;
    margin-left:600px;
     
  }
